@keyframes descend-modal {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: none; }
};

.kite-auth-modal {
    animation: descend-modal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .kite-auth-explainer {
        margin: 0 30px 10px 30px;
    }
}

.kite-login-modal .kite-login-explainer {
    margin: 0 30px 10px 30px;
}

.kite-login-form {
    display: flex;
    flex-direction: column;

    margin: 0 30px 10px 30px;
}
