.kite-auth-modal-backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(black, 0.2);
    z-index: 1000000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes descend-modal {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: none; }
};

.kite-auth-modal {
    animation: descend-modal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    border-radius: 10px;
    border: 1px solid #888;
    box-shadow: 0 0 1px #eee, 0 0 10px rgba(#333, 0.3);

    min-width: 100px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    h3 {
        text-align: center;
        margin: 10px 20px 10px 20px;
        padding: 5px 10px 3px 10px;
        border-bottom: 1px solid lightgray;

        font-size: 13pt;
    }

    .kite-auth-explainer {
        margin: 0 30px 10px 30px;
    }
}

.kite-login-form {
    display: flex;
    flex-direction: column;

    margin: 0 30px 10px 30px;
}

.kite-form-row {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 4px;

    & > label {
        flex: 0.3;
    }

    & > .form-control {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    & .form-input {
        font-size: 12pt;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        flex: 1;
    }

    & .kite-form-submit {
        border-radius: 100%;
        border: 1px inset rgba(#ccc, 0.4);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
        background: #499bea; /* Old browsers */
        background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */

        width: 60px;
        height: 60px;
        appearance: none;
        outline: none;

        color: white;
        font-weight: bold;

        cursor: pointer;

        &:hover {
            background: lighten(#499bea, 10%); /* Old browsers */
            background: -moz-linear-gradient(top, lighten(#499bea, 10%) 0%, lighten(#207ce5, 10%) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, lighten(#499bea, 10%) 0%, lighten(#207ce5, 10%) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, lighten(#499bea, 10%) 0%,lighten(#207ce5, 10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &:active {
            outline: none;
            background: darken(#499bea, 10%); /* Old browsers */
            background: -moz-linear-gradient(top, darken(#207ce5, 10%) 0%, darken(#499bea, 10%) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, darken(#207ce5, 10%) 0%, darken(#499bea, 10%) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, darken(#207ce5, 10%) 0%,darken(#499bea, 10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
}

@keyframes expand-list {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

.kite-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;

    animation: expand-list;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: 1;

    li {
        padding: 10px 20px;
        margin: 0;
        background-color: white;

        cursor: default;

        &.active {
            background-color: #499bea;
            color: white;
        }
    }

    overflow: hidden;
}
